* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

/* header section starts */

header {
    width: 100%;
    padding: 0 1rem;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    position: sticky;
    top: 0;
    background-color: #fff;
}

.responsive_bars {
    display: none;
    width: 7%;
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
}

.close {
    display: none;
}

.responsive_logo {
    display: none;
    width: 65%;
}

.responsive_logo_img{
    width: 150px;
    height: 60px;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 7%;
}

.logo_img{
    width: 62px;
    height: 43px;
    cursor: pointer;
}

.responsive_login, .side_bar_banner, .side_bar_footer_banner, .responsive_nav_list{
    display: none;
}

.navbar_list {
    display: flex;
    list-style: none;
}

.nav_list {
    padding: 0 1rem;
}

.nav_link:hover {
    padding-bottom: 0.5rem;
    border-bottom: 4px solid #ee5f73;
}

.nav_link{
    color: #282c3f;
    text-decoration: none;
    font-size: 0.78rem;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_link sup {
    color: #ff3f6c;
}

.search_bar{
    display: flex;
    align-items: center;
    width: 31%;
    background-color: #f5f5f6;
    border-radius: 4px;
}

.search_bar i{
    width: 2.4rem;
    text-align: center;
    font-size: 0.75rem;
    color: #696b79;
    cursor: pointer;
}

.search {
    all: unset;
    width: 100%;
    font-size: 0.7rem;
    padding: 0.6rem;
} 


.search_bar:focus-within {
    background-color: #fff;
    border: 1px solid rgb(235, 232, 232);
}

.icons {
    display: flex;
    font-size: 0.9rem;
    font-weight: 500;
}

.responsive_search_icon{
    display: none;
    text-align: center;
    margin: 0 0.7rem;
    cursor: pointer;
}

.icons p{
    font-size: 0.7rem;
}

.icon_div {
    text-align: center;
    margin: 0 0.7rem;
    cursor: pointer;
}

/* header section ends */

/* Main section starts */

/* hero section */

.hero_section {
    margin: 2.5rem 0 2rem;
    width: 100%;
}

.hero_img {
    width: 100%;
}


/* catalog section */

.catalog_section {
    margin: 2rem 0;
    width: 100%;
    overflow: hidden;
}

.heading {
    font-size: 1.8rem;
    font-weight: 700;
    color: #3e4152;
    letter-spacing: 0.2rem;
    margin: 3.5rem 0 3.5rem 2rem;
}

.offers {
    display: flex;
    width: 100%;
    overflow: auto;
}

.offers::-webkit-scrollbar {
    height: 2px;
}

.offers::-webkit-scrollbar-thumb {
    background-color: #f1efef;
}

.offer_img {
    width: 19%;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category_img {
    width: 10.6rem;
    height: 15.6rem;
    margin: 0.8rem;
    cursor: pointer;
}

/* Footer Section */

footer {
    padding: 4rem 0 1.5rem 0;
    background-color: #f8f9fa;
    width: 100%;
}

.foot_container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    width: 100%;
    border-bottom: 1px solid #e2e2e4;
}

.foot_column {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.foot_heading {
    font-size: 0.7rem;
    font-weight: 700;
    color: #282c3f;
    margin-bottom: 0.7rem;
    cursor: pointer;
}

.foot_list {
    text-decoration: none;
    color: #696b79;
    cursor: pointer;
    font-size: 0.9rem;
    padding-bottom: 0.4rem;
}

.last_foot_column a{
    margin-right: 1rem;
}

.copy {
    color: #94969f;
    text-align: center;
    margin: 1.2rem 1rem 0 1rem;
}


/* Responsive design */

@media screen and (width > 1536px) {
    .offer_img {
        width: 420px;
        height: 550px;
    }
    .category_img {
        width: 16%;
        height: auto;
    }
}

@media screen and (1050px < width < 1280px) {
    .search_bar {
        width: 16%;
    }
}

@media screen and (width < 1050px) {
    html {
        font-size: 14px;
    }

    .search_bar {
        width: 20%;
    }
}

 @media screen and (width < 860px) {
    .responsive_bars, .responsive_logo, .responsive_search_icon, .responsive_login, .side_bar_banner, .side_bar_footer_banner, .responsive_nav_list {
        display: block;
    }
    
    .search_bar, .logo {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 80px;
        left: 0;
        background-color: #e5f1ff;
        width: 60%;
        height: 100%;
        overflow: auto;
        display: none;
        padding-bottom: 80px;
    }

    .side_bar_banner img, .side_bar_footer_banner img{
        width: 100%;
        background-image: linear-gradient(270deg,#ffe5b2,#fff);
    }

    .responsive_login {
        font-size: 0.85rem;
        font-weight: 700;
        padding: 1.5rem;
        display: flex;
        justify-content: flex-end;
        color: #ff3f6c;
    }

    .navbar_list {
        padding: 0 1.5rem;
        flex-direction: column;
        background-color: #fff;
    }

    .nav_list {
        padding: 1.4rem 0 0;
    }
    
    .nav_link {
        color: #3e4152;
        font-size: 1rem;
        text-transform: none;
    }

    .nav_list::after {
        content: '>';
        font-size: 1.2rem;
        color: #939395d1;
        position: absolute;
        right: 2rem;
    }

    .responsive_nav_list {
        border-top: 2px solid #eaeaec;
        margin: 1.4rem 0;
    }

    .hidden_nav_list {
        color: #282c3f;
        font-size: 1rem;
        padding-top: 1.4rem;
    }

    .offer_img {
        width: 12.5rem;
        height: 16rem;
    }

}

@media screen and (width < 545px) {
    .navbar {
        width: 75%;
    }

    .responsive_logo_img {
        width: 120px;
        height: 45px;
    }

     .responsive_search_icon, .icon_div {
        margin: 0 0.3rem;
    }

    .heading {
        font-size: 1.5rem;
    }
    
    .hero_img {
        height: 12.8rem;
        object-fit: fill;
    }

    .category_img {
        margin: 0.3rem;
    }
    
    .foot_container {
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }

    .foot_column {
        width: 35%;
    }
}
